@mixin flex ($direction, $wrap, $justify, $aling) {
display: flex;
flex-direction:$direction;
flex-wrap: $wrap ;
justify-content:$justify ;
align-items:$aling;
}

@mixin grid ($cols,$rows,$aling,$justify){
display: flex;
grid-template-columns: $cols;
grid-template-rows: $rows;
justify-content: $justify;
align-items: $aling;

}

@mixin gridorder ($cs,$ce,$rs,$re) {
    grid-column-start: $cs ;
    grid-column-end:$ce ;
    grid-row-start:$rs ;
    grid-row-end:$re ;

}